body {
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url(./images/pattern.jpeg);
}

h1 {
  color: khaki;
  font-size: 100px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 32px;
}

.price {
  color: blue;
  font-weight: bold;
}

.section-brushes h2 {
  background-color: mediumspringgreen;
}

.section-frames h2 {
  background-color: lightcoral;
}

.section-paint h2 {
  background-color: skyblue;
}
