body {
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url(./images/pattern.jpeg);
}

h1 {
  color: khaki;
  font-size: 100px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 32px;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.price {
  color: blue;
  font-weight: bold;
}
